.gradle/
build/
**/bin/
run/

### IntelliJ IDEA ###

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

.idea/**/copilot.data.migration.*.xml

.idea/gradle.xml
.idea/libraries/

.idea/artifacts
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/modules.xml
.idea/*.iml
.idea/modules
*.iml
*.ipr

out/

# Local secrets
.env

# AI
/.vscode/
/.claude/
/.github/copilot-instructions.md
